<app-header></app-header>
<div class="flex justify-around p-10">
    <button mat-raised-button routerLink="/admin/categories"> Manage Category</button>
    <button mat-raised-button routerLink="/admin/products"> Manage Products </button>
    <button mat-raised-button routerLink="/admin/brands"> Manage Brands</button>
    <button mat-raised-button routerLink="/admin/commmande"> Manage Commandes </button>
  </div>
<div class="px-40 mt-10 flex placeholder justify-center">
        <form class="w-96 shadow p-6">
            @if(id){
                <h4 class="text-xs">Update Brand </h4>
            }@else { <h4 class="text-xs" style="font-size: 0.875rem; font-weight: bold; color: #4a5568; text-transform: uppercase; letter-spacing: 0.05em; margin: 0.5rem 0;">
                Add New Brand
            </h4>   }
                     
            <div class="flex flex-warp">
                <mat-form-field class="w-full">
                 <mat-label>Name</mat-label>
                 <input matInput type="text" placeholder="enter brand name" name="name"
                 [(ngModel)]="name"
                 />

                </mat-form-field>
            </div>
            <div class="flex justify-center">
                @if(id){
                    <button mat-raised-button color="primary" (click)="update()" [disabled]="!name"> Update </button>

                } @else { <button mat-raised-button color="primary" (click)="add()" [disabled]="!name"> Add </button>

            }
            </div>
        </form>
    </div>

