<div class="flex justify-center w-full m-10">
    <div class="bg-white p-6 rounded-lg shadow-md w-6/12 max-w-sm">
        <h2 class="text-2xl font-bold mb-4 text-gray-800 text-center">Register</h2>
        <form [formGroup]="registerForm">
            <!-- Name Field -->
            <div class="mb-4">
                <mat-form-field class="w-full">
                    <mat-label for="name">Name</mat-label>
                <input 
                    formControlName="name"
                    matInput 
                    placeholder="Enter your name"
                    required
                />
                </mat-form-field>
            </div>
    
            <!-- Email Field -->
            <div class="mb-4">
                <mat-form-field class="w-full">
                    <mat-label for="name">Email</mat-label>
                <input
                    formControlName="email"
                    matInput 
                    placeholder="Enter your email"
                    required
                />
                </mat-form-field>
            </div>
    
            <!-- Password Field -->
            <div class="mb-4">
                <mat-form-field class="w-full">
                    <mat-label for="name">PassWord</mat-label>
                <input
                    type="password"
                    formControlName="Password"
                    matInput 
                    required
                />
                </mat-form-field>
            </div>
    
            <!-- Submit Button -->
                <button mat-raised-button (click)="register()" [disabled]="registerForm.invalid">Register</button>
         </form>
    </div>
</div>